body{font-family: sans-serif;
	font-style: italic;
	text-transform: capitalize;}
	div{border: 20px groove red;
		background-color: yellow;
		width: 800px
		height: 800px;}
		div div{max-width: 565px;
			height: 410px;
			border: 15px solid yellow;
			background-color: powderblue;
			position: relative;
			top: 475px;
			left: 475px;
			overflow: scroll;
		}